<div class="bg-light fullheight">
  <div class="container">
    <div class="d-flex w-100 justify-content-between pt-3">
      <%= link_to material_icon.navigate_before.md_36, root_path %>
      <%= link_to material_icon.exit_to_app.md_36, root_path %>
      <%= link_to material_icon.navigate_next.md_36, slides_http_protocol_path %>
    </div>
    <div class="row cover py-3 py-sm-5">

      <div class="col-sm pb-2">
        <div class="card bg-blue h-100">
          <div class="my-auto p-3">
            <span class="badge badge-light">1 de 9</span>
            <h2><small>Manuel Ortega</small></h2>
            <p><%= material_icon.group %> Better Development / Gazpacho Dev</p>
            <p><%= material_icon.build %> Ruby / Rails / VueJS</p>
            <p><%= material_icon.place %> Sevilla, Bogotá, Los Angeles</p>
            <p>
              <a href="https://twitter.com/ortegacmanuel">Twitter</a>
              <a href="https://mastodon.social/@ortegacmanuel">Mastodon</a>
              <a href="https://github.com/ortegacmanuel">GitHub</a>
              <a href="https://www.linkedin.com/in/manuortega/">LinkedIn</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm text-center align-self-center">
        <%= material_icon.thumb_up.md_48 %>
      </div>
    </div>
  </div>
</div>
