<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Real-time applications</h1>
    <p class="lead text-muted">Implementing WebSockets in Rails 5 with Action Cable.</p>
    <p>
      <a href="<%= slides_about_path %>" class="btn btn-primary my-2">Presentación</a>
      <a href="#" class="btn btn-secondary my-2">Código fuente</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if user_signed_in? %>
      <div class="row">
        <% @chat_rooms.each do |chat_room| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4><%= chat_room.title %></h4>
                <p class="card-text"><%= chat_room.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "Entrar", chat_room_path(chat_room), class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p><%= link_to "Inicia sesión", new_user_session_path %> para ver la lista de salas de chat</p>
    <% end %>
  </div>
</div>
